<script src="\js\imageSlider.js"></script>
<link rel="stylesheet" href="\css\stylesheet.css">
<script>$(document).ready(function() {
        // document is loaded and DOM is ready
        if($("#msg").text()){
        alert($("#msg").text());
        $("#msg").remove();
        }
    });</script>
<title>My homepage</title>
