@import url('http://getbootstrap.com/dist/css/bootstrap.css');
.navbar-brand{
    padding: 0%;
    padding-left: 5px;
    padding-inline-start: 5px;
}

#centreAlign{
  align-items: center;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    align-self: auto;
 }

.navbar {
    min-height: 80px;
  }
  
  .navbar-brand {
    padding: 0px;
    height: 80px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }

.items-bgd{
  background-color: gold;
  height: 20px3;
}
.navbar-inner {
  text-align: center;
  vertical-align: middle;
}

.dropdown-toggle{
  color: black;
}
.dropdown-toggle:hover{
  color: red;
  text-decoration: underline, double;
}

.nav-content{
  color: skyblue;
  font-size: medium;
}

.navbar-bgd{
  background-color: red;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* image slider */
.carousel, .item, .active {
  height:100%;
  }
  .carousel-inner {
  height:100%;
  }
  .carousel {
  margin-bottom: 60px;
  }
  .carousel-caption {
  z-index: 10;
  }
  .carousel .item {
  background-color: #777;
  }
  .carousel .carousel-inner .bg {
  background-repeat:no-repeat;
  background-size:cover;
  }
  .carousel .carousel-inner .bg1 {
  background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/spiderweb.jpg');
  background-position: center top;
  }
  .carousel .carousel-inner .bg2 {
  background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/hearthand.jpg');
  background-position: center center;
  }
  .carousel .carousel-inner .bg3 {
  background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/158072/woman-camera.jpg');
  background-position: center bottom;
  }