@import url('http://getbootstrap.com/dist/css/bootstrap.css');

.navbar-brand{
    padding: 0%;
    padding-left: 5px;
    padding-inline-start: 5px;
}


#drop:hover{
  color: red;
  text-decoration: underline, double;
}

#centreAlign{
  align-items: center;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    align-self: auto;
 }
 /* a:hover {
    color: blueviolet;
    text-decoration-line:underline ;
  } */
/* .dropdown-toggle{
    display: inline;
    padding-right: 50%;
} */
.navbar {
    min-height: 80px;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }

.items-bgd{
  background-color: gold;
}
