<html>
<head>
    <%include ../partials/head.ejs %>
</head>
<body>

    <% include ../partials/constant.ejs %>

    <table class="table table-inverse">
        <thead>
          <tr>
          <% for(i=0; i < selected.length;i++){%>  
            <th><%=selected[i]%></th>
            <%}%>
          </tr>
        </thead>
  
        <tbody>
          <% for(var i=0; i < data.length ; i++) { %> -->
         <tr> 
  
          <td><%= data[i]['policyID'] %></td>
         </tr>
      <% } %>
        </tbody>
  
      </table>
    <div>
        <h2> Insert Info</h2>
    </div>
</body>
</html>
