<html>
<head>
    <%include ../partials/head.ejs %>
</head>
<body>

    <% include ../partials/constant.ejs %>
    <div>
        <br>
    </div>
<div class="container" id="wrap">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form action="/save" method="post" accept-charset="utf-8" class="form" role="form">   
        <legend>Insert</legend>      
        <div class="row">
          <div class="col-xs-6 col-md-6">
              <input type="text" name="eName"  class="form-control input-lg" placeholder="Employee Name" required />                        
          </div>
          <div class="col-xs-6 col-md-6">
              <input type="text" name="age"  class="form-control input-lg" placeholder="Employee Age" required/>                        
          </div>
          <div class="col-xs-6 col-md-6" style="width: fit-content;">
            <input type="radio" onclick="enableRole()" >
            <label>Role:</label>
            <input type="text" style="width: fit-content;" name= "role" placeholder="Click on radio button to enable!" id="role"  disabled>
          </div>
          <div class="col-xs-6 col-md-6" style="width: fit-content;">
            <input type="radio" onclick="enableSal()" >
            <label>Salary:</label>
            <input type="text" style="width: fit-content;" name= "salary"  placeholder="Click on radio button to enable!" id="sal" disabled>
          </div>
        </div>
        <button class="btn btn-lg" type="submit"  >Post</button>
      </form>          
    </div>
  </div>            
</div>
</div>
</body>
</html>