<html>
<head>
    <%include ../partials/head.ejs %>
</head>
<body>

    <% include ../partials/constant.ejs %>
    <div>
        <br>
    </div>
    <div>
        <form action="/details" method="POST">
        <label>Enter your Employee Name:</label>
        <input type="text" name="eName">
        <input type="submit" value="Search!">
    </form>
    </div>
</body>
</html>
