<html>
<head>
    <%include ../partials/head.ejs %>
</head>
<body>

    <% include ../partials/constant.ejs %>
    <div>
        <br>
    </div>
    <div>
        <form action="/details" method="POST">
        <label>Enter your employee ID:</label>
        <input type="text" name="employeeID">
        <input type="submit">
    </form>
    </div>
</body>
</html>
