<html>
<head>
    <%include ../partials/head.ejs %>
</head>
<body>

    <% include ../partials/constant.ejs %>
    <div>
        <br>
    </div>
    <%include ../partials/imageSlider.ejs%>
</body>
</html>
