<html>
<head>
    <%include ../partials/head.ejs %>
</head>
<body>

    <% include ../partials/constant.ejs %>
    <div>
        <br>
    </div>
    
    <table class="table table-inverse" style="padding: 40px;">
        <thead>
            <th>Year</th>
        
        </thead>
        
         <tbody>
          <% for(var i=0; i < data.length; i++) { %>
         <tr>
            <%for (var j=0; j< keys.length; j++){ %>
                <td> 
                  <%= data[i][keys[j]] %>
                </td>
               <%}%>
           
        </tr>
          
      <% } %>
    
        </tbody> 
        
      </table>
      
</body>
</html>
