<html>
<head>
    <%include ../partials/head.ejs %>
</head>
<body>

    <% include ../partials/navBar.ejs %>
    <%include ../partials/modelRows.ejs%>
    <br>
    <div>
        <h1>This is my profile</h1>
    </div>
</body>
</html>