<html>
<head>
    <%include ../partials/head.ejs %>
</head>
<body>

    <% include ../partials/constant.ejs %>
    <table class="table table-inverse" style="padding: 40px;">
        <thead>
          <% for(var i=0; i< selected.length; i++){ %>
                <th><%=selected[i]%></th>
          <%}%>
        
        </thead>

         <tbody>
          <% for(var i=0; i < records.length; i++) { %>
         <tr>
           <%for (var j=0; j< selected.length; j++){ %>
            <td> <%= records[i][selected[j]] %></td>
           <%}%>
        
        </tr>
         
      <% } %>
        </tbody> 
  
      </table>
</body>
</html>
