<html>
<head>
    <%include ../partials/head.ejs %>
    <script src="js/searchbox.js"></script>
    <script src="js/typeahead.bundle.js"></script>
</head>
<body>

    <% include ../partials/constant.ejs %>
    <div>
        <br>
    </div>
    <div class="bs-example">
        <input type="text" class="search" placeholder="Enter Employee Name">
        <ul class="suggestions">
          
        </ul>    </div>

</body>
</html>
