<div class="collapse navbar-collapse items-bgd" >
        <span></span>
    <ul class="nav navbar-nav" id="centreAlign">
        <li class="dropdown">   
            <a class="dropdown-toggle" id="drop" href="#" data-toggle="dropdown" data-hover="dropdown underline" style="height: inherit; width: inherit;">
                Locations
            </a>
            <ul class="dropdown-menu" >
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
            </ul>
        </li>
        <li class="dropdown"> 
                <a class="dropdown-toggle" id="drop" href="#" data-toggle="dropdown" data-hover="dropdown underline " style="height: inherit; width: inherit;">
                    Products
                </a>
                <ul class="dropdown-menu" >
                        <li><a href="#"></a></li>
                        <li><a href="#">Another2 action</a></li>
                        <li><a href="#">Somethin2g else here</a></li>
                        <li><a href="#">Separated2 link</a></li>
                </ul>
        </li>
        <li class="dropdown" > 
            <a class="dropdown-toggle" id="drop" href="#" data-toggle="dropdown" data-hover="dropdown underline " style="height: inherit; width: inherit;">
                Dealers
            </a>
            <ul class="dropdown-menu" >
                    <li><a href="/register">Register</a></li>
                    <li><a href="#">Existing Partners</a></li>
                    <li><a href="#">Conditions</a></li>
            </ul>
    </li>
    </ul>
</div>​​

    