<div class="row">
        <li class="dropdown col-lg-4" >
            <a href="#" data-toggle="dropdown" class="dropdown-toggle"  >Messages<b class="caret" ></b></a>
            <ul class="dropdown-menu">
                <li><a href="#"></a></li>
                <li><a href="#">Drafts</a></li>
                <li><a href="#">Sent Items</a></li>
                <li class="divider"></li>
                <li><a href="#">Trash</a></li>
            </ul>
        </li>
        <li class="dropdown col-lg-4">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle" >Messages<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#"></a></li>
                <li><a href="#">Drafts</a></li>
                <li><a href="#">Sent Items</a></li>
                <li class="divider"></li>
                <li><a href="#">Trash</a></li>
            </ul>
        </li>
    </div>