<div class="collapse navbar-collapse items-bgd" style="height: 35px;" >
    <ul class="nav navbar-nav" role="navigation" >
        <li class="dropdown">   
            <a class="dropdown-toggle"  href="#" data-toggle="dropdown" data-hover="dropdown underline" >
                Locations
            </a>
            <ul class="dropdown-menu" >
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
            </ul>
        </li>
        <li class="dropdown"> 
                <a class="dropdown-toggle"  href="#" data-toggle="dropdown" data-hover="dropdown underline " >
                    Products
                </a>
                <ul class="dropdown-menu" >
                        <li><a href="/">Another2 action</a></li>
                        <li><a href="#">Somethin2g else here</a></li>
                        <li><a href="#">Separated2 link</a></li>
                </ul>
        </li>
        <li class="dropdown" > 
            <a class="dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown underline " >
                Dealers
            </a>
            <ul class="dropdown-menu" >
                    <li><a href="/register">Register</a></li>
                    <li><a href="/existing">Existing Partners</a></li>
                    <li><a href="/askme">Query</a></li>
                    <li><a href="/edit">Edit My Details</a></li>
            </ul>
    </li>
    </ul>
</div>​​
    