<div class="spacing">
<div class="dropdown">
    <button class="dropbtn">Features</button>
    <div class="dropdown-content">
        <a href="/register">Register</a>
        <a href="/existing">Existing Partners</a>
        <a href="/askme">Query</a>
        <a href="/edit">Edit My Details</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Features</button>
    <div class="dropdown-content">
        <a href="/register">Register</a>
        <a href="/existing">Existing Partners</a>
        <a href="/askme">X</a>
        <a href="/edit">Edit My Details</a>
    </div>
</div>
</div>