<!-- Brand and toggle get grouped for better mobile display -->

<div class="collapse navbar-collapse">
        <img src="images/logo.jpg" height="fill" width="fill" class="navbar-brand" >
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</div>
