<!-- Brand and toggle get grouped for better mobile display -->
<div class="topmost">
  <a href="/"><img class="image" src="images/logo.jpg"></a>
  <a href="/profile" class="navigation">About Us</a>
  <a href="/find" class="navigation">Find</a>
</div>