<!-- Brand and toggle get grouped for better mobile display -->

<div class="collapse navbar-collapse navbar-bgd">
    <a href="/" class="navbar-brand" id="navbrand" ><img src="images/logo.jpg"  style="width: inherit; height: inherit;"></a>
    <ul class="nav navbar-nav">
        <li><a href="/profile" class="nav-content">About Us</a></li>
        <li><a href="/contact" class="nav-content">Contanct Us</a></li>
    </ul>
</div>
